[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
flask = "*"
flask-wtf = "*"
pymysql = "*"
psycopg2 = "*"
oracledb = "*"
pyodbc = "*"

[dev-packages]

[requires]
python_version = "3.11"
